<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.AdminDao">
    <!--    根据用户手机号查询用户-->
    <select id="findByUserPhone" parameterType="String" resultType="Admin">
        select * from `admin`
        where phone = #{phone}
    </select>

    <!--    用户更改密码-->
    <update id="updatePassword">
        update `student` set password = #{newPassword}
        where phone = #{phone}
    </update>

    <select id="adminAll" resultType="Admin">
        select * from admin
        limit #{pageNum},#{pageSize}
    </select>

    <select id="adminAllCount" resultType="Integer">
        select count(1) from admin
    </select>

    <select id="search" resultType="Admin">
        select * from admin
        where username like concat('%',#{input},'%') or phone like concat('%',#{input},'%')
        limit #{pageNum},#{pageSize}
    </select>

    <select id="searchCount" resultType="Integer">
        select count(1) from admin
        where username like concat('%',#{input},'%') or phone like concat('%',#{input},'%')
    </select>

    <delete id="delete" parameterType="Integer">
        delete from admin where id = #{id}
    </delete>

    <insert id="add">
        insert into admin(username,phone,password) values(#{username},#{phone},#{passwordSecret})
    </insert>
</mapper>
