<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ClassDao">
    <!--    新增课程-->
    <insert id="add" parameterType="Class" useGeneratedKeys="true" keyProperty="id">
        insert into `class` values(#{id},#{class_name},#{teacher_id},#{teacher_name},#{create_time},#{description},#{money},#{poster},#{class_type},#{status})
    </insert>

    <!--    计算符合条件的课程总数-->
    <select id="total" resultType="Integer">
    select count(1) from `class`
    where teacher_id = #{teacher_id} and class_type = #{class_type}
    </select>

    <!--    选择符合条件的课程 加上分页-->
    <select id="search" resultType="Class">
        select * from class
        where teacher_id = #{teacher_id} and class_type = #{class_type}
        limit #{pageNum},#{pageSize}
    </select>

    <!--    删除课程-->
    <delete id="delete" parameterType="Integer" >
     delete from class where id=#{id}
    </delete>

    <!--   根据id选择课程 -->
    <select id="selectById" parameterType="Integer" resultType="Class">
        select * from class
        where id = #{id}
    </select>

<!--    根据id更新课程信息-->
    <update id="update">
        update class set class_name = #{name},class_type = #{type},money = #{money},description = #{desc},poster = #{poster},status = #{status}
        where id = #{id}
    </update>

<!--    获取某个老师已发布的课程数-->
    <select id="classNum" resultType="Integer">
        select count(1) from class
        where teacher_id = #{teacher_id} and class_type = #{class_type} and status = #{status}
    </select>

<!--    获取某个老师发布的某种课程总数-->
    <select id="typeCount" resultType="Integer">
        select count(1) from class
        where teacher_id = #{teacher_id} and class_type = #{class_type}
    </select>

    <select id="classManage" resultType="Class">
        select * from class
        where status = #{status}
        <if test="class_type != null">and class_type = #{class_type}</if>
        <if test="input != null">and class_name like concat('%',#{input},'%')</if>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="classManageCount" resultType="Integer">
        select count(1) from class
        where status = #{status} and class_type = #{class_type} and class_name like concat('%',#{input},'%')
    </select>

    <update id="changeStatus">
        update class set status = #{status}
        where id = #{id}
    </update>

    <select id="classAudited" resultType="Class">
        select * from class
        where
        <if test="status != null">status = #{status}</if>
        <if test="status == null">status = 1 or status = 3</if>
        <if test="class_type != null">and class_type = #{class_type}</if>
        <if test="input != null">and class_name like concat('%',#{input},'%')</if>
        limit #{pageNum},#{pageSize}
    </select>

    <select id="classAuditedCount" resultType="Integer">
        select count(1) from class
        where
        <if test="status != null">status = #{status}</if>
        <if test="status == null">status = 1 or status = 3</if>
        <if test="class_type != null">and class_type = #{class_type}</if>
        <if test="input != null">and class_name like concat('%',#{input},'%')</if>
    </select>
</mapper>
