<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StudentDao">
    <!--    根据用户手机号查询用户-->
    <select id="findByUserPhone" parameterType="String" resultType="Student">
        select id,username,realname,password,job,phone,introduce,words,touxiang from `student`
        where phone = #{phone}
    </select>

    <!--    注册用户-->
    <insert id="save" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        insert into student(id,username,realname,password,phone) values(#{id},#{username},#{realname},#{password},#{phone})
    </insert>

    <!--    用户更改密码-->
    <update id="updatePassword">
        update `student` set password = #{newPassword}
        where phone = #{phone}
    </update>

    <!--    用户编辑个人信息-->
    <update id="editInfo">
        update `student` set touxiang = #{touxiang},username = #{username},words = #{words},introduce = #{introduce}
        where phone = #{phone}
    </update>

    <!--学生选择的某一类型课程-->
    <resultMap id="classList" type="Class">
        <id column="id" property="id"/>
        <result column="class_name" property="class_name"/>
        <result column="teacher_id" property="teacher_id"/>
        <result column="teacher_name" property="teacher_name"/>
        <result column="create_time" property="create_time"/>
        <result column="create_time" property="create_time"/>
        <result column="description" property="description"/>
        <result column="money" property="money"/>
        <result column="poster" property="poster"/>
        <result column="class_type" property="class_type"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="selectedClass" resultMap="classList">
        select * from `select` left join class on select.class_id = class.id
        where `select`.student_id = #{student_id} and class.class_type = #{class_type}
        limit #{pageNum},#{pageSize}
    </select>

    <!--学生选择的某一类课程的总数-->
    <select id="total" resultType="Integer">
        select count(1) from `select` left join class on select.class_id = class.id
        where `select`.student_id = #{student_id} and class.class_type = #{class_type}
    </select>

    <!--    获取某个老师发布的某种课程总数-->
    <select id="typeCount" resultType="Integer">
        select count(1) from `select` left join class on select.class_id = class.id
        where student_id = #{student_id} and class_type = #{class_type}
    </select>

    <select id="studentAll" resultType="Student">
        select * from student
        limit #{pageNum},#{pageSize}
    </select>

    <select id="studentAllCount" resultType="Integer">
        select count(1) from student
    </select>

    <select id="search" resultType="Student">
        select * from student
        where realname like concat('%',#{input},'%') or username like concat('%',#{input},'%') or phone like concat('%',#{input},'%')
        limit #{pageNum},#{pageSize}
    </select>

    <select id="searchCount" resultType="Integer">
        select count(1) from student
        where realname like concat('%',#{input},'%') or username like concat('%',#{input},'%') or phone like concat('%',#{input},'%')
    </select>

    <delete id="delete" parameterType="Integer">
        delete from student where id = #{id}
    </delete>

    <select id="export" resultType="Student">
        select id,realname,username,phone,touxiang,introduce,words,password from student
    </select>
</mapper>
